body{
    background-color: #f0f0f0;
}

.col-1{
    height: 18px;
    width: 18px;

}

.d-one{
    background: #E6563B;
    text-align: center;

    border-radius: 50%;
}

.d-two{
    background: #EB9D3A;
    text-align: center;

    border-radius: 50%;
}

.s{
    background: #7CB06C;
    text-align: center;

    border-radius: 50%;
}

.h{
    background: #00ABA9;
    text-align: center;
    border-radius: 50%;
}

.col-12>img{
    border: solid .5em #E6E6E6;

}

a{
    font-family: 'Abel';
}

h1, h2 {
    font-family: 'Anton';
}

h1{
    font-size: 45px;
}

h2{
    font-size: 30px;
}

div p{
    font-family: 'Anton';
    color: white;
    width: 105px;
    height: 105px;
}
.red{
    background-color: #e6563b;
}

.orange {
    background-color: #EB9D3A;
}

.green{
    background-color: #7cb06c;
}

.blue{
    background-color: #00aba9;
}
