body{
    background-color: #f0f0f0;
}





.under-img-circle, .font-change{
    font-family: Anton;
}



.under-img-circle p{
    margin-left: 0.5em;
}

.d-one{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    background: #E6563B;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 12px;
}

.d-two{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #EB9D3A;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 12px;
}

.s{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #7CB06C;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 12px;

}

.h{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #00ABA9;
    height: 18px;
    width: 18px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
}

.main-img{
    border: solid .5em #E6E6E6;

}

.side-icon{
    margin: 0.5em;
    border: 2px solid #e6e6e6;
}

a{
    font-family: 'Abel';
}

h1, h2 {
    font-family: 'Anton';
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

.circles p{
    font-family: 'Anton';
    color: white;
    width: 105px;
    height: 105px;
    border: white 0.5em solid;
}
.red{
    background-color: #e6563b;
}

.orange {
    background-color: #EB9D3A;
}

.green{
    background-color: #7cb06c;
}

.blue{
    background-color: #00aba9;
}

h6{
    font-family: Abel;
}

.font-change{
    font-size: 30px;
}